<div *ngIf="loggedIn">
  <div>
    <app-your-profile [user]="user">
    </app-your-profile>
    <app-new-skit></app-new-skit>
  </div>
  <div>
    <app-feed></app-feed>
  </div>
  <div>
    <app-search></app-search>       
  </div>
</div>
<div *ngIf="!loggedIn">
  <form name="loginInp">
    <input type="text" placeholder="RIT DCE" id="username" name="username" [(ngModel)]="loginData.username"/>
    <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="loginData.password" />
    <button id="login" name="login" type="button" (click)="login()">Login</button>
  </form>
</div>
