<div *ngIf="!edit">
  <img *ngIf="photoURLSafe" [src]="photoURLSafe">
  <p>Username: {{newUserData.username}}</p>
  <p>Email: {{newUserData.email}}</p>
  <button id="EdusernameButton" name="EdusernameButton" type="button" (click)="edit=!edit">Edit</button>
</div>
<div *ngIf="edit">
  <form name="youProfEdit">
    <input type="text" placeholder="{{newUserData.username}}" id="newusername" name="newusername" [(ngModel)]="newUserData.username" />
    <button id="usernameButton" name="usernameButton" type="button" (click)="submitProfile()">Update Profile</button>
  </form>
  <button id="CanusernameButton" name="CanusernameButton" type="button" (click)="edit=!edit">Cancel</button>
</div>
